<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Fanga biriktirish</title>
</head>
<body>
{% block content %}
    <br>
    <h4 class="text-center">FANLARGA BIRIKMAGAN TALABALARNI ANIQLASH KO'RSATKICHI</h4>
    <BR>
    <div class="container">
        <div class="row" id="data-grid-filters">
            <div class="col col-md-3">
                <div class="form-group field-estudentmeta-_department">
                    <select id="fakultet" name="fakultet" class="form-control select2-hidden-accessible"
                            style="width: 100%">
                        <option value="">Fakultetni tanlang</option>
                        {% for i in fakultet_list %}
                            <option value="">{{ i.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col col-md-3">
                <div class="form-group field-estudentmeta-_curriculum">
                    <select id="oquv_yili" name="oquv_yili" class="form-control select2-hidden-accessible">
                        <option value="" data-select2-id="790">O'quv yili tanlang</option>
                        {% for year in year_list %}
                            <option value="{{ year.id }}">{{ year.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col col-md-3">
                <div class="form-group field-_semestr">
                    <select id="semestr" name="semestr" class="form-control select2-hidden-accessible">
                        <option value="" data-select2-id="792">Semestrni tanlang</option>
                        {% for semestr in semestr_list %}
                            <option value="{{ semestr.id }}">{{ semestr.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
         <div class="col col-md-2">
                <div class="form-group">
                    <a class="btn btn-flat btn-success" href="" data-pjax="0"><i class="fa fa-search" aria-hidden="true"></i> QIDIRISH</a>
                </div>
            </div>
        </div>







        <table id="talaba_kontingent_table" class="table table-bordered">
            <thead>
            <tr style="background-color: #364958;">
                <th scope="col" style="text-align: center;color: white;  vertical-align: middle;">№</th>
                <th scope="col" style="text-align: center;color: white; vertical-align: middle;">FAKULTETLAR</th>
                <th scope="col" style="text-align: center;color: white; vertical-align: middle;">O'QUV REJA</th>
                <th scope="col" style="text-align: center;color: white; vertical-align: middle;">SEMESTER</th>
                <th scope="col" style="text-align: center;color: white; vertical-align: middle;">TALABALAR</th>
                <th scope="col" style="text-align: center;color: white; vertical-align: middle;">FANLAR</th>
                <th scope="col" style="text-align: center;color: white; vertical-align: middle;">YUKLAMA</th>
                <th scope="col" style="text-align: center;color: white; vertical-align: middle;">KREDIT</th>
                <th scope="col" style="text-align: center;color: white; vertical-align: middle;">BRIKKAN TALABALAR
                </th>
                <th scope="col" style="text-align: center;color: white; vertical-align: middle;">BRIKMAGAN
                    TALABALAR
                </th>
            </tr>
            </thead>
            <tbody>
            {% for f in queryset %}

                <tr>
                    <td style="text-align: center; vertical-align: middle;">{{ forloop.counter }}</td>
                    <td style="text-align: center">{{ f.field_curriculum__field_department__name }}</td>
                    <td style="text-align: center">{{ f.field_curriculum__name }}</td>
                    <td style="text-align: center">{{ f.name }}</td>
                    <td style="text-align: center"></td>
                    <td style="text-align: center"></td>
                    <td style="text-align: center"></td>
                    <td style="text-align: center"></td>
                    <td style="text-align: center"></td>
                    <td style="text-align: center"></td>
                </tr>

            {% endfor %}
            </tbody>

        </table>
    </div>
    </div>
{% endblock %}


</body>
</html>